<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="stylesheet" href="/css/baseStyle.css" />
  <link rel="stylesheet" href="/css/nav.css" />
  
</head>

<body>
  {{>navbar}}
  {{#if isHomeView }}
  <script>console.log("homeUser")</script>
  {{>homeUser}}
  {{/if}}
  {{#if isRecipesView }}
  <script>console.log("recipe")</script>
  {{>recipes}}
  {{/if}}
  <script src="/js/index.js" ></script>
</body>