<link rel="stylesheet" href="/css/homeUser.css">
<div class="welcome">
    <h1 class="hi">Hi, User!</h1>
    <h2 class="get-cooking">Let's get cooking!</h2>
</div>

<div class="features">
    <div class="featurepanel" id="feature-cookbook">
        <h3 class="panel-header">Cookbook</h3>
        <p>Your one stop shop to manage your recipes. Add your favourite dishes, modify them to your wishes, manage allergene.</p>
    </div>
    <div class="featurepanel" id="feature-storage">
        <h3 class="panel-header">Storage</h3>
        <p>Never know what to cook and what you have? Keep track of all the great stuff you hid in your storage many moons ago.</p>
    </div>
    <div class="featurepanel" id="feature-discounts">
        <h3 class="panel-header">Discounts</h3>
        <p>Get the best prices for all the ingredients you need to buy for the dishes you want to prepare.</p>
    </div>
    </div>