<nav class="navbar">
    <ul class="nav-ul">
        <li class="nav-item">
            <a href="/">Home</a>
            <a href="/recipes">Recipes</a>
            <a href="/storage">Storage</a>
            <a href="/account">Account</a>
        </li>
    </ul>
</nav>