<nav id="topnav" class="topnav">
    <a id="navHome" href="/">Home</a>
    <a id="navRecipes" href="/recipes">Recipes</a>
    <a id="navStorage" href="/storage">Storage</a>
    <a id="navAccount" href="/account">Account</a>
</nav>