<div id="recipediv">
    <div id="header">
        <h1 id="dishName"></h1>
        <p id="author">By: </p>
        <p id="userAdded">Added by: </p>
        <span id="taginfo"></span>
    </div>
    <div id="recipe-content">
        <div id="feeds"></div>
        <div id="ingredients">
            <table id="ingredients-table"></table>
        </div>
        <div id="description"></div>
        <div id="steps">
            <ol id="steps-list"></ol>
        </div>
        <div id="tags">
            <ol id="tags-list"></ol>
        </div>
    </div>
</div>

<script src="/js/recipe.js" ></script>