<div id="recipes">
<button type="button" name="createRecipe" onclick="window.location.href = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port +'/recipes/create'">Add Recipe</button>
</div>
<script src="/js/recipeList.js" ></script>